h1{
	/*border: 1px solid black;*/
	font-size: 20px;
    font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
    font-weight: normal;	
    color: white;
	margin: 10px;
	text-decoration: underline;
}

h2{
	font-family: 'Courier', 'MS Courier New', 'Prestige', monospace;
	text-align: left;
	color: white;
	font-weight: normal;
}

div#terminos {
	background: linear-gradient(to top, black, gray);
	max-width: 1300px; 
	height: auto; 
	margin: 0px auto;
	/*border: 2px solid black; */
	padding: 15px; 
	overflow: hidden;
	
}

div#terminos p{
	text-align: justify;
	color: white; 
	font-size: 20px;
	font-family: 'Courier', 'MS Courier New', 'Prestige', monospace;
}


/*Estilos Navegación*/

	div#menu ul	{
		background: orange;
		margin: 0px auto;
		padding: 0px;
		overflow: hidden;
		/*width:;
		z-index:5;
		position:fixed;
		bottom:0px;
		visibility:visible;
		min-width:220px;
		width:expression(document.body.clientWidth < 221? "220px":"auto");/*Consultar*/
		}

div#menu ul li{
		float:left;
		width: 20%;
		list-style:none;

		}
	
div#menu ul li a{
			color: black;
			display:block;
			padding:.9em;
			text-decoration:none;
			text-align:center;
			font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
			font-size: 16px;
			}

div#menu ul li a:hover {
			color: white;
			background-color: black;
			}

a.CallToAction p:hover{
	color: white!important;
	background-color: black!important;
}
			
/*Navegacion*/


@media screen and (max-width:600px)	{
					
					div#menu ul li.posicionb {width:25%;} 
					div#menu ul li.posicion {width:100%;}
					div#cafeteria, #bebidas, #platos, #postres{
						margin: 10px auto!important;
					}
					
					}			

@media screen and (max-width:460px)	{
					
					div#menu ul li.posicionb {width:50%;}
					div#menu ul li.posicion  {width:100%;}
					
					}

@media screen and (max-width: 400px){
					div#menu ul li.posicionb {width:100%;} 
					div#menu ul li.posicion {width:100%;}
					
}


/*Fin Estilos Navegación*/